# Known Good Versions Set
# =======================

[buildout]
extensions =
    mr.developer
    buildout.dumppickedversions

extends =
    http://dist.plone.org/release/4.2.2-pending/versions.cfg
    versions.cfg

find-links =
    http://dist.kreativkombinat.de/chromsystems
    http://plone.org/products/webcouturier-dropdownmenu/releases/2.3

versions = versions
unzip = true

[eggs]
main =
    chromsystems.globalcontacts
    chromsystems.userdata
    chromsystems.shop
    chromsystems.shopcontent
    chromsystems.sitetheme
    kk.chproducts
    kk.chromsystems
    kk.login_portlet
    vwc.toolbar
    kk.tiles
addon =
    Products.Carousel
    Products.LinguaPlone
    Products.PloneFormGen
    collective.plonetruegallery
    collective.tabr
    plone.app.caching
    webcouturier.dropdownmenu
    quintagroup.pfg.captcha
    Products.PloneKeywordManager [Levenshtein]

test =
    example.sitetheme [test]
devtools =
    bpython
    plone.reload
    sauna.reload
    Products.PDBDebugMode
    Products.PrintingMailHost
    Products.DocFinderTab

# mr.developer - sources available for auto-checkout.
# Run ./bin/develop help for more information.

[sources]
chromsystems.globalcontacts     = fs chromsystems.globalcontacts
chromsystems.userdata           = fs chromsystems.userdata
chromsystems.shop               = fs chromsystems.shop
chromsystems.shopcontent        = fs chromsystems.shopcontent
chromsystems.sitetheme          = fs chromsystems.sitetheme

kk.chproducts	                = fs kk.chproducts
kk.chromsystems	                = fs kk.chromsystems
kk.login_portlet	            = fs kk.login_portlet

kk.tiles                        = git git@github.com:kreativkombinat/kk.tiles.git

# External packages
vwc.toolbar                     = git https://github.com/vwc/vwc.toolbar.git

# Additional plone checkouts
plone.app.blocks                = git git://github.com/plone/plone.app.blocks.git
plone.app.tiles                 = git git://github.com/plone/plone.app.tiles.git
plone.tiles                     = git git://github.com/plone/plone.tiles.git

# Development Tools checkouts
sauna.reload                    = git https://github.com/epeli/sauna.reload.git

